/restore/user-uploads/*
/restore/database/*
/public/error_log
/public/caching/*
/public/cache/*
/library/core/*
/user-uploads/*
/public/cache/*
/node_modules/*
/nbproject/*
/vendor/*
/conf/*
/robots.txt
/sitemap.xml
/license.txt
/mbs-errors.log
/public/config.js
/public/settings.php
/.vscode
.sass-cache/